

<% if(!user) { %>
  <div class="containerBg"> 
  <!--<img src="../images/multiple.jpg" class="imgBG" alt="bg">-->
    <div class="bgTextBox">
      <h1>Gif'ted recipes</h1>
      <h2>Share your recipes and get inspired.</h2>
    </div>
  </div>
  </div>
    <%} else { %>
  
    <% }%>

