body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url("");
}

.bg_img{
position: relative;
}

.bgTextBox{
  position: absolute;
}

.imgBG{
  width: 100%;
  height: auto;
}

.container{
  display: flex;
}

.collapse {
  display: flex;
}

#navbar-nav{
  align-items: flex-end;
  justify-content: flex-end;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}

.nav-log{
display: flex;
align-items: flex-end;
justify-content: flex-end;
}

#navbar-brand{
  border-radius: 40%;
}

.containerlog{
  list-style-type: none;
  display: flex;
  grid-row: inherit;
}

.container-header{ 
  max-width: 1530px;
  list-style-type: none
}

.me-2 {
  margin-right: 0.5rem!important;
  list-style-type: none
}

.btn-outline-light {
  --bs-btn-color: #5b748d;
  --bs-btn-border-color: #5b748d;
  --bs-btn-hover-color: #000;
  --bs-btn-hover-bg: #5b748d;
  --bs-btn-hover-border-color: #5b748d;
  --bs-btn-focus-shadow-rgb: 248,249,250;
  --bs-btn-active-color: #000;
  --bs-btn-active-bg: #5b748d;
  --bs-btn-active-border-color: #5b748d;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #5b748d;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #5b748d;
  --bs-gradient: none;
}


.btn-warning {
  --bs-btn-color: #000;
  --bs-btn-bg: #ffc107;
  --bs-btn-border-color: #ffc107;
  --bs-btn-hover-color: #000;
  --bs-btn-hover-bg: #ffca2c;
  --bs-btn-hover-border-color: #ffc720;
  --bs-btn-focus-shadow-rgb: 217,164,6;
  --bs-btn-active-color: #000;
  --bs-btn-active-bg: #ffcd39;
  --bs-btn-active-border-color: #ffc720;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #000;
  --bs-btn-disabled-bg: #ffc107;
  --bs-btn-disabled-border-color: #ffc107;
}


.logoImg{
  width: 150px;
  height: auto;
  border-radius: 50%;
}

.col-autodetails{
  padding-top: 10px;
}

.containerDetails{
display: flex;
padding: 20px;
box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
}

.alldetailstext{
  align-items: center;
padding: 20px;
}

.imagesRecipedetails{
  align-items: center;
  border-radius: 20px;
  width: 30vw;
  height: auto;
}

.card{
  box-shadow: 0 4px 8px 0
  rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
  width: 40vw;

}

.card:hover{
  box-shadow: 0 8px 16px 0 
  rgba(0,0,0,0.2);
}


.ul-allrecipes{
  list-style-type: none;
  display: flex;
  flex-direction: column-reverse;
}

/* My profile Card!!!*/

.helloUser{
  padding: 10px;
}

.cards-list {
  z-index: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.cardmyprofile {
  margin: 30px auto;
  width: 300px;
  height: 300px;
  border-radius: 40px;
box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
  cursor: pointer;
  transition: 0.4s;
  text-decoration: none
}


.cardmyprofile .card_image {
  width: inherit;
  height: inherit;
  border-radius: 40px;
}

.cardmyprofile .card_image img {
  width: inherit;
  height: inherit;
  border-radius: 40px;
  object-fit: cover;
}

.cardmyprofile .card_title {
  text-align: center;
  border-radius: 0px 0px 40px 40px;
  font-family: sans-serif;
  color: #3cdbc0; 
  font-weight: bold;
  font-size: 30px;
  margin-top: -80px;
  height: 40px;
}


.card .card_level {
  text-align: right;
  border-radius: 0px 0px 40px 40px;
  font-family: sans-serif;
  color: #3cdbc0; 
  font-weight: bold;
  font-size: 40px;
  margin-top: -80px;
  height: 40px;
}


.card:hover {
  transform: scale(0.9, 0.9);
  box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25), 
    -5px -5px 30px 15px rgba(0,0,0,0.22);
}

.title-white {
  color: white;
}

.title-black {
  color: black;
}

@media all and (max-width: 500px) {
  .card-list {
    /* On small screens, we are no longer using row direction but column */
    flex-direction: column;
  }
}

/*All recipes Cards*/

.cardAll{
  margin: 30px auto;
  width: 300px;
  height: 350px;
  border-radius: 40px;
box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
  transition: 0.4s;
  cursor: pointer;
  display: grid;
  grid-template: 200px 100px / 1fr;
}

.card_timeandlevel{
 padding: 0;
padding-left: 20px;
  display: block;
  align-items: center;
  justify-content: center;
}

.favstar{
  margin: 0;
}

.card_title{
  align-items: center;
}

.containertext{
  display: flex;
  flex-direction: row;
  color: #3cdbc0;
}

.cardAll:hover {
  transform: scale(0.9, 0.9);
  box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25), 
    -5px -5px 30px 15px rgba(0,0,0,0.22);
}

.card_imageAll{
  width: 100%;
  height: 100%;
  border-radius: 40px;
  object-fit: cover;
}

.card .card_cooktime {
  text-align: left;
  border-radius: 0px 0px 40px 40px;
  font-family: sans-serif;
  color: #3cdbc0; 
  font-weight: bold;
  font-size: 40px;
  margin-top: -80px;
  height: 40px;
}


/*Create Form View*/

.containerCreate{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 500px;
  border-radius: 20px;
  box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25);
  padding: 50px 50px;
  margin-right: auto ;
  margin-left: auto ;
  margin-top: 50px;
  gap: 30px;
}

.createLabel{
  text-align: left;
  align-items: center ;
  justify-content: center;
  padding: 0px 20px 10px;
}

.titlecreateform{
  font-weight: 300;
}


/* Favorite*/
label input[type="checkbox"] {
  display: none;
}

.custom-checkbox {
  margin-left: 2em;
  position: relative;
  cursor: pointer;
}

.custom-checkbox .glyphicon {
  color: gold;
  position: absolute;
  top: 0.4em;
  left: -1.25em;
  font-size: 5em;
}

.custom-checkbox .glyphicon-star-empty {
  color: gray;
}

.custom-checkbox .glyphicon-star {
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.custom-checkbox:hover .glyphicon-star{
  opacity: 0.5;
}

.custom-checkbox input[type="checkbox"]:checked ~ .glyphicon-star {
  opacity: 1;
}

.Search-box{
background-image: url("../images/balsamic-brussel-sprouts-rotate.jpg");
display: block;
position: relative;
width: 1590px;
height: 800px;
display: flex;
justify-content: center;
}

.searchimg{
display: block;
position: relative;
width: 100%;
height: auto;
}

.containerSearch{
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 500px;
  border-radius: 20px;
  box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25);
  padding: 50px 50px;
  margin-right: auto ;
  margin-left: auto ;
  margin-top: 50px;
  gap: 30px;
  background-color: white;
  opacity: 0.9;
}

