
<div class="containerCreate" id="create-container"> 
  <div class="titlecreateform">
  <h1>Create a new recipe</h1>
</div>
<form method="POST" action="/recipes/create" enctype="multipart/form-data">
<div class="createLabel">
    <label>Dish Name</label>
      <input type="text" name="name" placeholder="name"> 
</div>
<div class="createLabel">
    <label for="ingredients">Ingredients List</label>
      <textarea name="ingredients"  rows='4' cols="50"> </textarea>
</div>
<div class="createLabel">
    <label for="instructions">Instructions</label>
      <textarea name="instructions"  rows='4' cols="50" placeholder="instructions" > </textarea>
</div>
<div class="createLabel">
    <label>cooktime</label>
      <input type="number" id="cooktime" name="cooktime" placeholder="cooktime">
  </div>
  <div class="createLabel">
    <label for="level">Difficulty</label>
        <select name="level" id="level">
        <option value="Easy"> Easy </option>
        <option value="Amateur Chef">Amateur Chef </option>
        <option value="Master Chef">Master Chef </option>
        </select>
  </div>
  <div class="createLabel">
      <label for="foodtypetag">Dietery Requirements</label>
      <select name="foodtypetag" id="foodtypetag"> 
        <option value="Vegan">Vegan </option>
        <option value="Vegatarian">Vegatarian </option>
        <option value="Gluten-Free">Gluten-Free </option>
      </select>
  </div>
  <div class="createLabel">
      <label for="nationaltypetag">Cuisine</label>
      <select name="nationaltypetag" id="nationaltypetag"> 
        <option value="Asian">Asian </option>
        <option value="TexMex">TexMex </option>
        <option value="Italian">Italian </option>
        <option value="Scottish">Scottish </option>
        <option value="French"> French</option>
        <option value="Japanese">Japanese </option>
        <option value="Indian">Indian</option>
      </select>
  </div>
  <div class="ImgCreateLabel">
        <input type="file" name="imageUrl" accept="image/png, image/jpg">
    </div>
    <div class="col-auto">
      <button class="col-form-label form-control"> Submit </button>
    </div>
</form>
</div>

