
 
    <li><a href="/recipes/myrecipes" >my recipes</a></li>

<h3>My Profile HomePage</h3>
<h4>Hello <%- user.username %> </h4>
<h4>What would you like to cook today?</h4>

<div class="cards-list">
  
    <a href="/recipes/search" class="cardmyprofile">
      <div class="card_image"> <img src="https://media.giphy.com/media/10SvWCbt1ytWCc/giphy.gif" /> </div>      
    <div class="card_title title-white">
        <p>Find new recipes</p>
      </div>
    </a>

    <a href="/recipes/create" class="cardmyprofile">
      <div class="card_image">
    <!-- <img src="https://media.giphy.com/media/ehUq9YPy1vKoBrGbkE/giphy.gif" >-->
    <img src="https://media.giphy.com/media/l0Iy4URhBy8Y82vLO/giphy.gif" ></div> 
     <div class="card_title ">
        <p>Share your recipe!</p>
      </div>
    </a>
    
    <a href="/recipes/allRecipes" class="cardmyprofile">
      <div class="card_image">
      <!--  <img src="https://media.giphy.com/media/GRYk355fcaKJi/giphy.gif" ></div>-->
        <img src="https://media.giphy.com/media/m225vjrXFvEevNormi/giphy.gif" ></div>
      <div class="card_title title-white">
        <p>All recipes</p>
      </div>
    </a>
      
    <a href="/recipes/myfavorites" class="cardmyprofile">
      <div class="card_image">
        <img src="https://media.giphy.com/media/svdsMNSzOShzO/giphy.gif"/></div>
        <div class="card_title title-white">
        <p>your favorites</p>
      </div>
    </a>
    
    </div>