<nav>
    <a href="/recipes/search"> Find new recipes</a>
    <a href="/recipes/create"> Post your recipe!</a>
    <a href="/recipes/allRecipes"> All Recipes</a>
</nav>


<h3>My Profile HomePage</h3>
<p>Hello <%- user.username %> </p>



<div class="cards-list">
  
    <div class="card 1">
      <div class="card_image"> <img src="https://media.giphy.com/media/10SvWCbt1ytWCc/giphy.gif" /> </div>      
      <div class="card_title title-white">
        <p>Find new recipes</p>
      </div>
    </div>

      <div class="card 2">
      <div class="card_image">
      <img src="https://giphy.com/gifs/food-taco-recipes-l0Iy4URhBy8Y82vLO" />
        <!-- <div style="width:100%;height:0;padding-bottom:150%;position:relative;"><iframe src="https://giphy.com/embed/l0Iy4URhBy8Y82vLO" width="100%" height="100%" style="position:absolute" frameBorder="0" class="giphy-embed" allowFullScreen></iframe></div><p><a href="https://giphy.com/gifs/food-taco-recipes-l0Iy4URhBy8Y82vLO"></a></p>--> 
        </div>
      <div class="card_title title-white">
        <p>Share your recipe!</p>
      </div>
    </div>
    
    <div class="card 3">
      <div class="card_image">
        <img src="https://media.giphy.com/media/10SvWCbt1ytWCc/giphy.gif" />
      </div>
      <div class="card_title">
        <p>Card Title</p>
      </div>
    </div>
      
      <div class="card 4">
      <div class="card_image">
        <img src="https://media.giphy.com/media/LwIyvaNcnzsD6/giphy.gif" />
        </div>
      <div class="card_title title-black">
        <p>Card Title</p>
      </div>
      </div>
    
    </div>