

<div class="helloUser">
<h2>Hello <%- user.username %> ,</h2>
</div>
<div class="helloUser">
<h2>What would you like to cook today?</h2>
</div>
<div class="cards-list">
  
    <a href="/recipes/search" class="cardmyprofile">
      <div class="card_image"> <img src="https://media.giphy.com/media/10SvWCbt1ytWCc/giphy.gif" /> </div>      
    <div class="card_title title-white">
        <p>Find new recipes</p>
      </div>
    </a>

    <a href="/recipes/create" class="cardmyprofile">
      <div class="card_image">
    <!-- <img src="https://media.giphy.com/media/ehUq9YPy1vKoBrGbkE/giphy.gif" >-->
    <img src="https://media.giphy.com/media/l0Iy4URhBy8Y82vLO/giphy.gif" ></div> 
     <div class="card_title ">
        <p>Share my recipe!</p>
      </div>
    </a>
    
    <a href="/recipes/allRecipes" class="cardmyprofile">
      <div class="card_image">
        <img src="https://media.giphy.com/media/m225vjrXFvEevNormi/giphy.gif" ></div>
      <div class="card_title title-white">
        <p>See all recipes</p>
      </div>
    </a>
      
    <a href="/recipes/myfavorites" class="cardmyprofile">
      <div class="card_image">
        <img src="https://media.giphy.com/media/svdsMNSzOShzO/giphy.gif"/></div>
        <div class="card_title title-white">
        <p>My favorites</p>
      </div>
    </a>

    <a href="/recipes/myrecipes" class="cardmyprofile">
      <div class="card_image">
        <img src="https://media.giphy.com/media/GRYk355fcaKJi/giphy.gif" ></div>
        <div class="card_title title-white">
        <p>My recipes</p>
      </div>
    </a>
    
    </div>