<h1>Search for a recipe</h1>

<form method="POST" action="/recipes/search">
      <input type="text" name="name"   placeholder="name" > 
      <input type="text" name="occupation"  placeholder="occupation" > 

      <button> Search </button>
</form>