<h1>Search for a recipe</h1>

<form method="POST" action="/recipes/search">
      <input type="text" name="name"   placeholder="name" > 
      <input type="text" name="dishType"  placeholder="dishType" > 
      <input type="text" name="cooktime"  placeholder="cooktime" >
      <input type="text" name="foodtypetag"  placeholder="foodtypetag" >
      <input type="text" name="level"  placeholder="level" >
      <input type="text" name="nationaltypetag"  placeholder="nationaltypetag" >
      <button> Search </button>
</form>