<div class="Search-box" style="background-image:url(balsamic-brussel-sprouts-rotate.jpg); position: relative;"> 
      <img src="../images/balsamic-brussel-sprouts-rotate.jpg" class="searchimg" style="position: relative"/>

      <div class="containerSearch" style="position: absolute"> 

      <form method="GET" action="/recipes/results">
<div class="titlecreateform">
<h1>Find new recipes</h1>
</div>
      <div class="createLabel">
      <label><input type="text" name="name" placeholder="Dish Name"> </label>
      </div>

<div class="createLabel">
      <label for="Number">Preparation Time Minutes (Maximum):</label>
      <input type="number" id="cooktime" name="cooktime" min="1" max="999">
</div>

<div class="createLabel">
      <label for="foodtypetag">Dietery Requirements</label>
      <select name="foodtypetag" id="foodtypetag"> 
       <option value=""> </option>
        <option value="Vegan">Vegan </option>
        <option value="Vegetarian">Vegetarian </option>
        <option value="Gluten-Free">Gluten-Free </option>
      </select>
  </div>

<div class="createLabel">
      <label for="level">Difficulty</label>
      <select id="level" name="level">
      <option value=""> </option>
      <option value="Easy">Easy</option>
      <option value='Amateur Chef'>Amateur Chef</option>
      <option value="Master Chef">Master Chef</option>
      </select>
</div>
<div class="createLabel">  
      <label for="nationaltypetag">Cuisine</label>
      <select id="nationaltypetag" name="nationaltypetag">
      <option value=""> </option>
      <option value="Asian">Asian</option>
      <option value="TexMex">Tex-Mex</option>
      <option value="Italian">Italian</option>
      <option value="Scottish">Scottish</option>
      <option value="French">French</option>
      <option value="Japanese">Japanese</option>
      <option value="Indian">Indian</option>
      </select>
</div>   
      <div class="col-auto">
            <button class="col-form-label form-control"> Search </button>
      </div>
</form>
</div> 
</div>
