<h1>Search for a recipe</h1>

<div class="containerCreate"> 
<form method="get" action="/recipes/search">
      <label for="name">Name</label>
      <input type="text" name="name"  placeholder="Dish Name" />
      <div class="col-auto">
            <button class="col-form-label form-control"  aria-describedby="passwordHelpInline" type="submit">Search</button>
      </div>
</div>